<footer class="bg-clr-black absolute w-full bottom-0">
  <div class="max-w-[1100px] mx-auto py-10 flex flex-col gap-10">
    <div class="flex justify-between">
      <img
        src="/assets/images/logo/logo-white.svg"
        alt="Logo"
        class="w-[150px]"
      />
      <h2 class="h2 text-clr-gray-5">
        Driven by
        <span class="text-clr-gray-1"> Excellence. </span>
      </h2>
    </div>
    <div>
      <div class="h-[1px] w-full bg-clr-gray-5"></div>
      <div class="flex justify-between text-clr-gray-4 text-sm mt-3">
        <p>All rights reserved.</p>
        <p>&copy; {{ getCurrentYear() }} Raeda.</p>
      </div>
    </div>
  </div>
</footer>
