<section id="why-us">
  <header class="flex flex-col items-center">
    <h1 class="h1">
      Why Clients <span class="text-clr-black">Choose</span> Us?
    </h1>
    <p class="p">
      We offer a seamless and convenient car rental experience that prioritizes
      their satisfaction and convenience at every step of the process.
    </p>
  </header>
  <main class="flex gap-5 items-center">
    <div class="bg-clr-gray-2 rounded-3xl px-5 py-5 shadow-xl">
      <div>
        <img
          src="/assets/images/icons/credit-cards.svg"
          alt="Credit Cards Icon"
        />
      </div>
      <div class="mt-7">
        <h3 class="text-xl uppercase font-semibold text-clr-gray-6">
          Transparent Pricing
        </h3>
        <p class="w-[300px] text-clr-gray-5 mt-2">
          We believe in transparency, so our pricing is clear and
          straightforward. Clients appreciate knowing exactly what they're
          paying for without any hidden fees or surprises.
        </p>
      </div>
    </div>
    <div class="bg-clr-gray-7 rounded-3xl px-5 py-5 mt-20 shadow-2xl">
      <div>
        <img
          src="/assets/images/icons/fast-clock.svg"
          alt="Credit Cards Icon"
        />
      </div>
      <div class="mt-7">
        <h3 class="text-xl uppercase font-semibold text-clr-gray-4">
          Fast & Easy Booking
        </h3>
        <p class="w-[300px] text-clr-gray-5 mt-2">
          With just a few clicks, you can secure your dream ride hassle-free.
          Spend less time booking and more time enjoying the road ahead with us.
        </p>
      </div>
    </div>
    <div class="bg-clr-gray-2 rounded-3xl px-5 py-5 mt-40 shadow-xl">
      <div>
        <img
          src="/assets/images/icons/security.svg"
          alt="Security Icon"
          class="w-[60px]"
        />
      </div>
      <div class="mt-7">
        <h3 class="text-xl uppercase font-semibold text-clr-gray-6">
          Secure Payment
        </h3>
        <p class="w-[300px] text-clr-gray-5 mt-2">
          Security is a top priority for us, so we use trusted payment gateways
          to ensure that clients' transactions are secure and protected.
        </p>
      </div>
    </div>
  </main>
</section>
