<div class="flex flex-col items-center justify-center mx-auto h-screen">
  <a routerLink="/">
    <img
      class="w-[200px] mr-2 mb-6 cursor-pointer"
      src="/assets/images/logo/logo-black.svg"
      alt="logo"
    />
  </a>
  <div class="w-full rounded-lg shadow-2xl dark:border max-w-md bg-clr-white">
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <h3 class="h3">Create your account</h3>
      <form class="space-y-4" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-2 gap-6">
          <div class="form-control">
            <label for="firstName" class="label">First Name</label>
            <input
              type="text"
              id="firstName"
              placeholder="John"
              class="input input-error"
              formControlName="firstName"
            />
            @if (form.controls['firstName'].invalid &&
            form.controls['firstName'].touched) {
            <small class="text-red-500">First name is required</small>
            }
          </div>
          <div class="form-control">
            <label for="lastName" class="label">Last Name</label>
            <input
              type="text"
              id="lastName"
              placeholder="Doe"
              class="input input-error"
              formControlName="lastName"
            />
            @if (form.controls['lastName'].invalid &&
            form.controls['lastName'].touched) {
            <small class="text-red-500">Last name is required</small>
            }
          </div>
        </div>
        <div class="form-control">
          <label for="email" class="label">Your email</label>
          <input
            type="email"
            id="email"
            class="input input-error"
            placeholder="name@company.com"
            formControlName="email"
          />
          @if (form.controls['email'].invalid && form.controls['email'].touched)
          {
          <small class="text-red-500">Email is required</small>
          }
        </div>
        <div class="form-control">
          <label for="phoneNumber" class="label">Your phone number</label>
          <!-- <input
            type="text"
            id="phoneNumber"
            class="input"
            placeholder="070 123 456"
            formControlName="phoneNumber"
          /> -->
          <p-inputMask
            mask="999 999 999"
            formControlName="phoneNumber"
            placeholder="070 123 456"
            inputId="phoneNumber"
            styleClass="input input-error"
          ></p-inputMask>
          @if (form.controls['phoneNumber'].invalid &&
          form.controls['phoneNumber'].touched) {
          <small class="text-red-500">Phone number is required</small>
          }
        </div>
        <div class="form-control">
          <label for="password" class="label">Password</label>
          <!-- <input
            type="password"
            id="password"
            class="input"
            placeholder="••••••••"
            formControlName="password"
          /> -->
          <p-password
            formControlName="password"
            [toggleMask]="true"
            feedback="false"
            inputStyleClass="input input-error"
            [style]="{ width: '100%' }"
            placeholder="••••••••"
            inputId="password"
          >
          </p-password>
          @if (form.controls['password'].invalid &&
          form.controls['password'].touched) {
          <small class="text-red-500">Password is required</small>
          }
        </div>

        <div class="form-control">
          <label for="confirmPassword" class="label">Confirm Password</label>
          <!-- <input
            type="password"
            id="confirmPassword"
            class="input"
            placeholder="••••••••"
            formControlName="confirmPassword"
          /> -->
          <p-password
            formControlName="confirmPassword"
            [toggleMask]="true"
            feedback="false"
            inputStyleClass="input input-error"
            [style]="{ width: '100%' }"
            placeholder="••••••••"
            inputId="password"
          ></p-password>
          @if (form.controls['confirmPassword'].invalid &&
          form.controls['confirmPassword'].touched) {
          <small class="text-red-500">Password confirmation is required</small>
          }
        </div>
        @if (this.form.getError("passwordNotMatch") &&
        form.controls['password'].dirty &&
        form.controls['confirmPassword'].dirty
        &&this.form.controls['confirmPassword'].value ) {
        <small class="text-red-500"
          >Oops! It seems the passwords you entered don't match.</small
        >
        }
        <button
          type="submit"
          class="btn btn-primary w-full"
          [disabled]="!form.valid"
        >
          Create my account
        </button>
        <p class="p">
          Already have an account?
          <a routerLink="/signin">Sign in</a>
        </p>
      </form>
    </div>
  </div>
</div>
